html,body {
    height: 100%
}

main { 
    text-align: center;
    padding-bottom: 30px; 
}

main .form-horizontal {
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.background_img {
    /* center background image and cover width */
    background-size: cover;
    background-position: center;
}

.index {
    /* set background image url */
    background-image: url("img/pexels-photo-171297.jpeg");
}

.match, .preferences {
    background: #fff;
}

.match-row {
  position: relative;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  color: white !important;
  background: url("img/landing.jpeg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
}

header.masthead .container {
    max-width: 100%;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.navbar-nav > li > p {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.icons {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 3rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
  margin: 0 auto;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.btn-warning {
    position: absolute;
    right: 16px;
    bottom: 0px;
}

.text {
    /* set text colour for index text over image */
    color: white;
}

.no-matches {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    font-size: 20px;
}

.form-control {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: left;
}

.checkbox label {
    padding-left: 10px;
}

.checkbox {
    text-align: left;
    margin-left: 40px;
}

.checkbox-inline {
    margin-top: 0;
    padding-right: 50px;
}

.slide {
    margin-bottom: 0px;
}

.slidecontainer p {
    margin-bottom: 0px;
    margin-top: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.btn-outline-gradient {
    background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
    border-radius: 30px;
    box-sizing: border-box; /* includes padding & border in elements total height/width */
    color: #00a84f;
    font: 1.3rem 'Oswald', Arial, sans-serif;
    height: 60px;
	letter-spacing: 1px;
	margin: 0 auto;
	padding: 4px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	width: 150px;
	z-index: 2;
	border-width: 0px;
}

/* change button text colour on hover */
.btn-outline-gradient:hover {
	color: #fff;
}

.btn-outline-gradient span {
	align-items: center;
	background: #e7e8e9;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
	width: 100%;
}

.btn-outline-gradient:hover span {
	background: transparent;
}

.info {
    text-align: left;
}

.footer {
    margin: 0;
    width: 100%;
    left: 0;
    bottom: 0;
}
