<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport">

        <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <!-- website stylesheet -->
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='jTinder.css') }}" rel="stylesheet">

        <title>Adopter: {% block title %}{% endblock %}</title>
    </head>

    <body class="background_img {% block background_src %}{% endblock %}">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('index') }}">Adopter</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    {% if session.user_id %}
                        <ul class="nav navbar-nav">
                            <li><a href="{{ url_for('preferences') }}">Preferences</a></li>
                            <li><a href="{{ url_for('match') }}">Match</a></li>
                            <li><a href="{{ url_for('matches') }}">Matches</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                        </ul>
                    {% else %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ url_for('register') }}">Register</a></li>
                            <li><a href="{{ url_for('login') }}">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav> <!-- end nav bar div -->
        <div class="container">
            {% if get_flashed_messages() %}
                <header>
                    <div class="alert alert-info" role="alert">
                        {{ get_flashed_messages() | join(" ") }}
                    </div>
                </header>
            {% endif %}
            <main>
                {% block main %}{% endblock %}
            </main>
        </div> <!-- end div 'container' -->

        <!-- Footer -->
        <footer class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <div class="row">
                    <p class="navbar-text text-muted text-center">&copy; Radost Rychtera 2018</p>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- bootstrap form validator -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.9.0/validator.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.9.0/validator.min.js"></script>

        <!-- jTinder lib -->
        <script type="text/javascript" src="static/jTinder.js"></script>

        <!-- transform2d lib -->
        <script type="text/javascript" src="static/jquery.transform2d.js"></script>

        <!-- jTinder initialization script -->
        <script type="text/javascript" src="static/main.js"></script>

        <!-- custom adopter scripts -->
        <script type="text/javascript" src="static/adopter.js"></script>
    </body>
</html>
