{% extends "layout.html" %}

{% block title %}
    My Matches
{% endblock %}

{% block background_src %}
    match
{% endblock %}

{% block main %}
    <div class="container">
        <div class="wrap">
            <div id="tinderslide">
                <ul>
                    {% for animal in animals %}
                        <li class="pane{{ animal.id }}" id="{{ animal.id }}">
                            <div class="img"><img src="{{ url_for('static', filename='img/animal' + str(animal.id) + '.jpeg') }}"></div>
                            <div class="img_text">{{ animal.name }} | {{ animal.age }} | Sex: {{ animal.sex }}</div>
                            <div class="like"><img src="{{ url_for('static', filename='img/liked.png') }}"></div>
                            <div class="dislike"><img src="{{ url_for('static', filename='img/nope.png') }}"></div>
                        </li>
                    {% endfor %}
                        <div class="no-matches">Sorry, you have run out of matches! Please broaden your preferences or come back later to see new adoptable animals.</div>
                </ul>
            </div>
        </div>

        <!-- jTinder trigger by buttons  -->
        <div class="actions">
            <a href="#" class="dislike"><img src="{{ url_for('static', filename='img/dislike_button.png') }}"></a>
            <a href="#" class="like"><img src="{{ url_for('static', filename='img/like_button.png') }}"></a>
        </div>
    </div>
{% endblock %}